h1{
    margin-left: 40px;
}

.container{
    width:100%;
    max-width: 400px;
}


nav ul{
    list-style-type: none;
}


nav p{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 0px;
    border-style: solid;
    border-width: 1px;
    
}


nav p:hover{
    background-color: indianred;
}
